<ul class="{{ extra_class }}">
    {% for item in menuitems %}

        {% set isdropdown = false %}
        {% if item.__children|length > 0 %}
            {% set isdropdown = true %}
        {% endif %}

        <li class="{% if isdropdown %}dropdown{% endif %}" >
            {% if item.pageSlug %}
                <a href="{{ path('page', { 'slug': item.pageSlug }) }}" >
                    {{ item.label|title }}
                </a>
            {% else %}
                <a href="#" {% if isdropdown %}class="dropdown-toggle" data-toggle="dropdown"{% endif %} >
                    {{ item.label|title }}
                </a>
            {% endif %}
            {{ include('FlowcodePageBundle:Menu:show.html.twig',{ 'menuitems': item.__children, 'extra_class': 'dropdown-menu' }) }}
        </li>
    {% endfor %}
</ul>
