{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body %}
{{ include('FlowcodePageBundle:AdminPage:pageHeader.html.twig') }}
<section class="content">
    <div class="box box-solid">
        <div class="box-header">
            <h3>{{ "page list"|trans|title }}</h3>
            <div class="box-tools">
                <a href="{{ path('admin_page_new') }}" class="btn btn-link btn-sm">
                    <i class="fa fa-plus"></i> {{ "new page"|trans|title }}
                </a>
            </div>
        </div>
        <div class="box-body">
            <table class="records_list table">
                <thead>
                    <tr>
                        <th{% if pagination.isSorted('p.Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</th>
                        <th>Slug</th>
                        <th>Description</th>
                        <th>Enabled</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in pagination %}
                    <tr>
                        <td><a href="{{ path('admin_page_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                        <td>{{ entity.slug }}</td>
                        <td>{{ entity.description }}</td>
                        <td>{{ entity.enabled ? 'yes' : 'no' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="count text-right">
                Total of <span class="badge">{{ pagination.getTotalItemCount }}</span> pages.
            </div>
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
