{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body %}
{{ include('FlowcodePageBundle:AdminPage:blockHeader.html.twig') }}
<section class="content">
    <div class="box box-solid">
        <div class="box-header">
            <h3 class="box-title">{{'create block of page:'|trans|capitalize}}
                <a href="{{ path('admin_page_show', { 'id': entity.getPage.id }) }}">{{entity.getPage.name|title}}</a>
            </h3>
        </div>
        <div class="box-body">
            {{ form(form) }}
        </div>
    </div>
</section>
{% endblock %}
