{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body %}
{{ include('FlowcodePageBundle:AdminPage:pageHeader.html.twig') }}
<section class="content">
    <div class="row">
        <div class="col-sm-6">
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">{{ entity.name }}</h3>
                    <div class="box-tools">
                        <a href="{{ path('admin_page') }}" class="btn btn-xs btn-link">
                            {{ "Back to the list"|trans }}
                        </a>
                        <a href="{{ path('admin_page_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-link">
                            {{ "Edit"|trans|title }}
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <th>{{ "Slug"|trans|title }}</th>
                                <td>{{ entity.slug }}</td>
                            </tr>
                            <tr>
                                <th>{{ "Description"|trans|title }}</th>
                                <td>{{ entity.description }}</td>
                            </tr>
                            <tr>
                                <th>{{ "Enabled"|trans|title }}</th>
                                <td>{{ entity.enabled }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">{{ "Blocks"|trans|title }}</h3>
                    <div class="box-tools">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {{ "create new"|trans|title }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('admin_page_block_new', {'page_id': entity.id, 'type' : 'type_text'}) }}">
                                        {{ "plain text"|trans|title }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_page_block_new', {'page_id': entity.id, 'type' : 'type_html'}) }}">
                                        {{ "html"|trans }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    {{render(controller('FlowcodePageBundle:AdminPage:blocks', {'page_id': entity.id}))}}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">{{ "SEO"|trans|title }}</h3>
                    <div class="box-tools">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {{ "create new"|trans|title }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('admin_page_block_new', {'page_id': entity.id, 'type' : 'type_seo'}) }}">
                                        {{ "SEO"|trans|title }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    {{render(controller('FlowcodePageBundle:AdminPage:seo', {'page_id': entity.id}))}}
                </div>
            </div>
        </div>
    </div>


</section>
{% endblock %}
